<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DailyGate" Manufacturer="DailyGate" Version="0.3.0" UpgradeCode="6D632A58-013A-4E43-9A51-7475F8D07B0A" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer DailyGate version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="Main" Title="DailyGate" Level="1">
      <ComponentGroupRef Id="DailyGateFiles" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DailyGate">
        <Directory Id="SERVICEFOLDER" Name="Service" />
        <Directory Id="CLIENTFOLDER" Name="Client" />
        <Directory Id="TOOLSFOLDER" Name="Tools" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="DailyGateFiles">
      <Component Directory="SERVICEFOLDER" Id="ServiceExecutable" Guid="B50233D9-A4C7-4817-B12A-7C83C5417083">
        <File Id="DailyGateServiceExe" Source="$(var.ServicePublishDir)\DailyGate.Service.exe" KeyPath="yes" />
        <ServiceInstall Id="DailyGateServiceInstall" Name="DailyGateService" DisplayName="DailyGate Service" Description="Daily testing, offline synchronization and workday enforcement." Start="auto" Type="ownProcess" ErrorControl="normal" Account="LocalSystem" />
        <ServiceControl Id="DailyGateServiceControl" Name="DailyGateService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Files Directory="SERVICEFOLDER" Include="$(var.ServicePublishDir)\**" Exclude="$(var.ServicePublishDir)\DailyGate.Service.exe" />
      <Files Directory="CLIENTFOLDER" Include="$(var.ClientPublishDir)\**" />
      <Component Directory="TOOLSFOLDER" Id="ProvisionScripts" Guid="80A46F23-16A7-46C3-A80F-9958B71A694F">
        <File Source="Provision-Device.ps1" />
        <File Source="Configure-Kiosk.ps1" />
        <File Source="Remove-Kiosk.ps1" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
